<!DOCTYPE html>
<html ng-app="selflessApp">
<head>
  <title>Selfless</title>

  <!-- External Modules -->
  <script src="/js/vendor/angular/angular.js"></script>
  <script src="/js/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/js/vendor/angular-resource/angular-resource.js"></script>
  <script src="/js/vendor/angular-animate/angular-animate.js"></script>

  <script src="/js/vendor/satellizer/satellizer.min.js"></script>
  <script src="/js/vendor/angular-jwt/dist/angular-jwt.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxM36DxD-TmmCuWMML0UXBVSirOUkF42Q&libraries=places,geometry"></script>

  <!-- Internal Modules -->
  <script src="/js/app.js"></script>
  <script src="/js/directives/gmaps.js"></script>
  <script src="/js/services/oauthKeys.js"></script>
  <script src="/js/services/token.js"></script>
  <script src="/js/models/challenges.js"></script>
  <script src="/js/controllers/mainController.js"></script>
  <script src="/js/controllers/mapController.js"></script>
  <script src="/js/controllers/challengesController.js"></script>

  <!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700" rel="stylesheet">
  <link rel="stylesheet" href="/js/vendor/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="/js/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div ng-controller="ChallengesController as challenges">
    <main ui-view></main>
    <map center="challenges.mapCenter" markers="challenges.mapMarkers"></map>
    <!-- <div class="container">
      <div class="row">
        <button class="facebook" ui-sref="challengeIndex"> Go Back</button>
      </div>
    </div> -->
    <footer class="bottom">
      Undead<i class="fa fa-heartbeat"></i>Fred
    </footer>
  </div>
  
</body>
</html>


